.navbar{
    border-bottom: 1px solid #CB2A3A;
}
.navbar-brand{
    margin-left: 3%;
}
.navbar-brand img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.navbar-brand span{
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
.nav-item a{
    font-size: 17px;
}
.navbar .main-nav{
    gap: 15px;
}